@page
@model LaborVolumeCalculator.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<div>
    <h4> @Html.DisplayNameFor(model => model.Project)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.CreateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
