@page
@model LaborVolumeCalculator.Pages.Nirs.DetailsModel

@{

    ViewData["Title"] = "Детали";
}

<div>
    <h4> @Html.DisplayNameFor(model => model.Nir)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nir.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nir.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nir.NirInnovationProperty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nir.NirInnovationProperty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nir.NirScale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nir.NirScale.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nir.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nir.CreateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nir.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nir.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Nir.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
