@page
@model LaborVolumeCalculator.Pages.Nirs.EditLaborVolumesModel
@using LaborVolumeCalculator.Models.Dictionary
@using System.Globalization

@{
    ViewData["Title"] = "Трудозатраты НИР";
}

    <form method="post">
        <div>
            <h4>@Html.DisplayFor(model => model.Nir.Name)</h4>
            <hr />
            <input type="hidden" asp-for="Nir.ID" />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nir.NirInnovationProperty)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nir.NirInnovationProperty.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nir.NirScale)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nir.NirScale.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nir.NirInnovationRateValue)
                </dt>
                <dd class="col-sm-10" id="nirInnovationRateValue">
                    @Model.Nir.NirInnovationRateValue.ToString("0.0####", CultureInfo.InvariantCulture)
                </dd>
                <dt class="col-sm-2">
                    Трудозатраты по НИР (ч*м)
                </dt>
                <dd id="nir-labor-volumes-total" class="col-sm-10">
                    0.0
                </dd>
            </dl>
            <hr />
            <p>
                <a asp-page="./Index">Вернуться к списку</a> |
                <input type="submit" value="Сохранить" class="btn btn-light btn-sm" />
            </p>
        </div>

        <div id='root'>
            
        </div>

    </form>

<!-- Modals -->
@foreach (var nirStage in Model.NirStagesVM)
{
    <div class="modal fade" id="laborsSelectionModal-@nirStage.ID" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Работы НИР</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container" id="laborSelectionList-@nirStage.ID">
                    @{ var attachedLabors = nirStage.AttachedLaborVolumes.Select(m => (NirLabor)m.Labor); }

                    @foreach (var labor in Model.NirLabors)
                    {
                        bool isHidden = attachedLabors.Contains(labor);

                        <div class="row justify-content-start" data-laborID="@labor.ID" hidden="@isHidden")>
                            <div class="col-1 pr-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="labor-@nirStage.ID-@labor.ID" />
                                    <label class="custom-control-label" for="labor-@nirStage.ID-@labor.ID" name ="labor-Code">@labor.Code</label>
                                </div>
                            </div>
                            <label class="col-9 pl-0" for="labor-@nirStage.ID-@labor.ID" name="labor-Name">@labor.Name</label>
                            <div class="col-1 px-0" name="labor-MinVolume">
                                @labor.MinVolume.ToString("0.0####", CultureInfo.InvariantCulture)
                            </div>
                            <div class="col-1 px-0" name ="labor-MaxVolume">
                                @labor.MaxVolume.ToString("0.0####", CultureInfo.InvariantCulture)
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary nirStageModalBtnOK" data-nirStageID="@nirStage.ID">ОК</button>
                </div>
            </div>
        </div>
    </div>
}

<div id="softwareDevLaborGroupSelectionForm"></div>

@section scripts{
    <script src="~/js/nirLaborVolumesEditor.js"></script>
    <script src="~/dist/load_nir.js" asp-append-version="true"></script>

    <script>
        class SoftwareDevLaborGroupHelper {
            constructor() {}
            getSoftwareGroupsSelectionModalContent(softwareLaborGroups, nirStageID){
                let rows = [];
                softwareLaborGroups.forEach(function(item, index, array) {
                    let row = `
                        <div class="row justify-content-start">
                            <div class="json-data" hidden>${JSON.stringify(item)}</div>
                            <div hidden class="itemID">${item.id}</div>
                            <div class="col-1 pr-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="sdgLabor-${item.id}" />
                                    <label class="custom-control-label item-Code" for="sdgLabor-${item.id}">${item.code}</label>
                                </div>
                            </div>
                            <label class="col-11 pl-0 item-Name" for="sdgLabor-${item.id}">${item.name}</label>
                        </div>`
                        ;
                    rows.push(row);
                });
                return rows.join(' ');
            }

            show(element){
                element = $(element);
                element.removeClass('d-none');
                element.attr('hidden', false);
            }

            btnOkHandler(event){
                self = this;
                let okButton = $(event.target);
                let nirStageID = okButton.data('nirStageID');
                let checkedRow = $("#addSoftwareLaborGroupSelectionBody .row").has("input:checked").first();
                let softwareGroupsTable = $(`#softwareDevLaborGroupsContainer-${nirStageID}`);
                
                if (checkedRow.length > 0) 
                { 
                    self.show(softwareGroupsTable);
                }
                // let tableBody = softwareGroupsTable.find('.body');
                let groupData = JSON.parse($(checkedRow).find('.json-data').text());
                let tableRow = self.createSoftwareGroupsTableRow(groupData, nirStageID);
                softwareGroupsTable.append(tableRow);
                $('#softwareDevLaborGroupSelectionForm').modal('hide');
            }            

            createSoftwareGroupsTableRow(groupData, nirStageID){
                let row = 
                `<div class="row" id="softwareGroupe-${groupData.id}">
                    <div class="col-auto code">${groupData.code}</div>
                    <div class="col name">${groupData.name}</div>
                    <div class="col-sm-2 rates">
                        <div class="row no-gutters justify-content-between">
                            <div class="col rate btn py-0 btn-uotline border-0" data-id="">1</div>
                            <div class="col rate btn py-0 btn-uotline border-0" data-id="">1.2</div>
                            <div class="col rate btn py-0 btn-uotline border-0" data-id="">0.5</div>
                            <div class="col rate btn py-0 btn-uotline border-0" data-id="">0.8</div>
                            <div class="col rate btn py-0 btn-uotline border-0" data-id="">1.05</div>
                        </div>
                    </div>
                    <div class="col-sm-2 px-0">
                        <div class="row no-gutters">
                            <div class="col-auto"><button type="button" class="btn btn-primary py-0"> + </div>
                            <div class="col text-right totalVolume"> 0 </div>
                            <div class="col-auto d-flex justify-content-center">
                                <button type="button"
                                    class="btn btn-link py-0 border-0 d-inline align-middle removeLaborButton"
                                    data-softwareGroupLaborID="${groupData.id}"
                                    data-nirStageID="${nirStageID}"> Удалить </button>
                            </div>
                        </div>
                    </div>
                </div>`;
                return row;
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            let helper = new NirLaborEditHelper();

            helper.loadNirLaborVolumes();

            $('.nirStageModalBtnOK').on('click', function (event) {
                let okButton = $(event.target);
                let nirStageID = okButton.attr('data-nirStageID');
                let laborsRows = $("#laborSelectionList-" + nirStageID + " .row");
                let selectedLabors = [];
                helper.forEachCheckedRow(laborsRows, function (index, row) {
                    selectedLabors.push(helper.createLabor($(row)));
                    $(row).attr("hidden", true);
                    $(row).find("input:checkbox").prop("checked", false);
                });

                if (selectedLabors.length > 0)
                { 
                    helper.addLaborsToNirStageTable(selectedLabors, nirStageID);
                    $(`#nirStageData_${nirStageID}`).removeClass('d-none'); 
                    helper.recalcNirStageTotalLaborsVolume(nirStageID);
                    helper.closeLaborSelectionModal(nirStageID);
                }
            });

            $('form').submit(function (event) {
                $(`input[name$='Volume']`).each(function (i, element) {
                    $(element).val($(element).val().replace('.', ','));
                });
            });

            let softwareHelper = new SoftwareDevLaborGroupHelper();
            $('.addSoftwareGroupBtn').click(function(event){
                let nirStageID = $(event.target).attr('data-nirStageID');
                // получить с сервера все группы работ по разработке СПО, кроме указанных в запросе
                let excepted_ids = "";
                $.get('./editLaborVolumes?handler=SoftwareDevLaborGroupSelectionForm')
                    .done( function(modalForm){
                        $('#softwareDevLaborGroupSelectionForm').replaceWith(modalForm);
                        $('#softwareDevLaborGroupSelectionForm .btnOK').data('nirStageID', nirStageID);
                        $('#softwareDevLaborGroupSelectionForm .btnOK').click(softwareHelper.btnOkHandler.bind(softwareHelper));
                        $('#softwareDevLaborGroupSelectionForm').modal('show');
                    });
            });

            
        });
    </script>

    
}