@page
@model LaborVolumeCalculator.Pages.Nirs.EditLaborVolumesModel
@using LaborVolumeCalculator.Models.Dictionary
@using System.Globalization

@{
    ViewData["Title"] = "Трудозатраты НИР";
}

    <form method="post">
        <div>
            <h4>@Html.DisplayFor(model => model.Nir.Name)</h4>
            <hr />
            <input type="hidden" asp-for="Nir.ID" />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nir.NirInnovationProperty)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nir.NirInnovationProperty.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nir.NirScale)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nir.NirScale.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nir.NirInnovationRate)
                </dt>
                <dd class="col-sm-10" id="nirInnovationRateValue">
                    @Model.Nir.NirInnovationRate.Value.ToString("0.0####", CultureInfo.InvariantCulture)
                </dd>
                <dt class="col-sm-2">
                    Трудозатраты по НИР (ч*м)
                </dt>
                <dd id="nir-labor-volumes-total" class="col-sm-10">
                    0.0
                </dd>
            </dl>
            <hr />
            <p>
                <a asp-page="./Index">Вернуться к списку</a> |
                <input type="submit" value="Сохранить" class="btn btn-light btn-sm" />
            </p>
        </div>

        <div class="container-lg px-0" id="NiokrStages">

            @foreach (var nirStage in Model.NirStagesVM)
            {
                <div class="card d-flex mb-3" id="nirStageCard-@nirStage.ID" name="nirStageCard" data-nirStageID="@nirStage.ID">

                    <div class="card-header d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseExample_@nirStage.ID.ToString()" aria-expanded="false" aria-controls="collapseExample_@nirStage.ID.ToString()">
                        <div>@nirStage.Name </div>
                        <div class="d-flex">
                            <div class="px-2">Сумма трудозатрат: </div>
                            <div class="px-2" id="nirStageLaborsVolumeTotal-@nirStage.ID">0.0</div>
                        </div>
                    </div>

                    <div class="pb-1 bg-secondary text-white"></div>
                    <div class="card-body collapse px-2 py-0" id="collapseExample_@nirStage.ID">
                        <nav class="nav py-1">
                            <div class="btn-group" role="group" aria-label="laborsManagamentButtons">
                                <button type="button" class="btn btn-primary btn-sm d-inline align-middle" data-toggle="modal" data-target="#laborsSelectionModal-@nirStage.ID">
                                    Добавить трудозатраты НИР
                                </button>
                                <button type="button" class="btn btn-primary btn-sm d-inline align-middle addSoftwareGroupBtn" data-nirStageID="@nirStage.ID">
                                    Добавить Разработку СПО
                                </button>
                            </div>
                        </nav>
                        <div id="nirStageData_@nirStage.ID" class="d-none mb-1">
                            <table class="table table-sm my-1">
                                <thead class="card-header">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Работа</th>
                                        <th scope="col">Минимальный объем(чм)</th>
                                        <th scope="col">Максимальный объем(чм)</th>
                                        <th scope="col">Трудозатраты(чм)</th>
                                        <th scope="col">Итог(чм)</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody id="LaborVolumesForNirStage-@nirStage.ID" class="LaborVolumesForNirStage" data-nirStageID="@nirStage.ID">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div id="softwareDevLaborGroupsContainer-@nirStage.ID" class="container-fluid d-none mb-2" hidden="true">
                            <div class="row card-header px-0 py-1">
                                <div class="col-auto">#</div>
                                <div class="col">Комплексные работы по разработке СПО</div>
                                <div class="col-sm-2 rates">
                                    <div class="row no-gutters justify-content-between">
                                        <div class="col rate"> КНР </div>
                                        <div class="col rate"> ИСМ </div>
                                        <div class="col rate"> ИФК </div>
                                        <div class="col rate"> Ка </div>
                                        <div class="col rate"> Кт </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="row no-gutters">
                                        <div class="col text-right">Сумма трудозатрат:</div>
                                        <div class="col-3 text-right totalVolume"> 0 </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div> <!-- card-->
            }
        </div>
    </form>

<!-- Modals -->
@foreach (var nirStage in Model.NirStagesVM)
{
    <div class="modal fade" id="laborsSelectionModal-@nirStage.ID" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Работы НИР</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container" id="laborSelectionList-@nirStage.ID">
                    @{ var attachedLabors = nirStage.AttachedLaborVolumes.Select(m => (NirLabor)m.Labor); }

                    @foreach (var labor in Model.NirLabors)
                    {
                        bool isHidden = attachedLabors.Contains(labor);

                        <div class="row justify-content-start" data-laborID="@labor.ID" hidden="@isHidden")>
                            <div class="col-1 pr-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="labor-@nirStage.ID-@labor.ID" />
                                    <label class="custom-control-label" for="labor-@nirStage.ID-@labor.ID" name ="labor-Code">@labor.Code</label>
                                </div>
                            </div>
                            <label class="col-9 pl-0" for="labor-@nirStage.ID-@labor.ID" name="labor-Name">@labor.Name</label>
                            <div class="col-1 px-0" name="labor-MinVolume">
                                @labor.MinVolume.ToString("0.0####", CultureInfo.InvariantCulture)
                            </div>
                            <div class="col-1 px-0" name ="labor-MaxVolume">
                                @labor.MaxVolume.ToString("0.0####", CultureInfo.InvariantCulture)
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary nirStageModalBtnOK" data-nirStageID="@nirStage.ID">ОК</button>
                </div>
            </div>
        </div>
    </div>
}

<div id="softwareDevLaborGroupSelectionForm"></div>

@section scripts{
    <script src="~/js/nirLaborVolumesEditor.js"></script>

    <script>
        class SoftwareDevLaborGroupHelper {
            constructor() {}
            getSoftwareGroupsSelectionModalContent(softwareLaborGroups, nirStageID){
                let rows = [];
                softwareLaborGroups.forEach(function(item, index, array) {
                    let row = `
                        <div class="row justify-content-start">
                            <div class="json-data" hidden>${JSON.stringify(item)}</div>
                            <div hidden class="itemID">${item.id}</div>
                            <div class="col-1 pr-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="sdgLabor-${item.id}" />
                                    <label class="custom-control-label item-Code" for="sdgLabor-${item.id}">${item.code}</label>
                                </div>
                            </div>
                            <label class="col-11 pl-0 item-Name" for="sdgLabor-${item.id}">${item.name}</label>
                        </div>`
                        ;
                    rows.push(row);
                });
                return rows.join(' ');
            }

            show(element){
                element = $(element);
                element.removeClass('d-none');
                element.attr('hidden', false);
            }

            btnOkHandler(event){
                self = this;
                let okButton = $(event.target);
                let nirStageID = okButton.data('nirStageID');
                let checkedRow = $("#addSoftwareLaborGroupSelectionBody .row").has("input:checked").first();
                let softwareGroupsTable = $(`#softwareDevLaborGroupsContainer-${nirStageID}`);
                
                if (checkedRow.length > 0) 
                { 
                    self.show(softwareGroupsTable);
                }
                // let tableBody = softwareGroupsTable.find('.body');
                let groupData = JSON.parse($(checkedRow).find('.json-data').text());
                let tableRow = self.createSoftwareGroupsTableRow(groupData);
                softwareGroupsTable.append(tableRow);
                $('#softwareDevLaborGroupSelectionForm').modal('hide');
            }            

            createSoftwareGroupsTableRow(groupData){
                let row = 
                `<div class="row" data-software-dev-labor-group-id="0">
                    <div class="col">
                        <div class="row" id="softwareGroupe-${groupData.id}">
                            <div class="col-auto code">${groupData.code}</div>
                            <div class="col name">${groupData.name}</div>
                            <div class="col-sm-2 rates">
                                <div class="row no-gutters justify-content-between">
                                    <div class="col rate" data-id="">1</div>
                                    <div class="col rate" data-id="">1.2</div>
                                    <div class="col rate" data-id="">0.5</div>
                                    <div class="col rate" data-id="">0.8</div>
                                    <div class="col rate" data-id="">1.05</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="row no-gutters">
                                    <div class="col text-right">Сумма трудозатрат:</div>
                                    <div class="col-3 text-right totalVolume"> 0 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>`;
                return row;
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            let helper = new NirLaborEditHelper();

            helper.loadNirLaborVolumes();

            $('.nirStageModalBtnOK').on('click', function (event) {
                let okButton = $(event.target);
                let nirStageID = okButton.attr('data-nirStageID');
                let laborsRows = $("#laborSelectionList-" + nirStageID + " .row");
                let selectedLabors = [];
                helper.forEachCheckedRow(laborsRows, function (index, row) {
                    selectedLabors.push(helper.createLabor($(row)));
                    $(row).attr("hidden", true);
                    $(row).find("input:checkbox").prop("checked", false);
                });

                if (selectedLabors.length > 0)
                { 
                    helper.addLaborsToNirStageTable(selectedLabors, nirStageID);
                    $(`#nirStageData_${nirStageID}`).removeClass('d-none'); 
                    helper.recalcNirStageTotalLaborsVolume(nirStageID);
                    helper.closeLaborSelectionModal(nirStageID);
                }
            });

            $('form').submit(function (event) {
                $(`input[name$='Volume']`).each(function (i, element) {
                    $(element).val($(element).val().replace('.', ','));
                });
            });

            let softwareHelper = new SoftwareDevLaborGroupHelper();
            $('.addSoftwareGroupBtn').click(function(event){
                let nirStageID = $(event.target).attr('data-nirStageID');
                // получить с сервера все группы работ по разработке СПО, кроме указанных в запросе
                let excepted_ids = "";
                $.get('./editLaborVolumes?handler=SoftwareDevLaborGroupSelectionForm')
                    .done( function(modalForm){
                        $('#softwareDevLaborGroupSelectionForm').replaceWith(modalForm);
                        $('#softwareDevLaborGroupSelectionForm .btnOK').data('nirStageID', nirStageID);
                        $('#softwareDevLaborGroupSelectionForm .btnOK').click(softwareHelper.btnOkHandler.bind(softwareHelper));
                        $('#softwareDevLaborGroupSelectionForm').modal('show');
                    });
            });

            
        });
    </script>
}