@page
@model LaborVolumeCalculator.Pages.NirLaborVolumesDocRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NirLaborVolumesDocRecord[0].NirLaborVolumesDoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NirLaborVolumesDocRecord[0].Labor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NirLaborVolumesDocRecord[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NirLaborVolumesDocRecord[0].Calculation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NirLaborVolumesDocRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NirLaborVolumesDoc.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Labor.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calculation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
