@page
@model LaborVolumeCalculator.Pages.LaborGroups.IndexModel

@{
    string title = Html.DisplayGroupNameFor(model => model.LaborGroups[0]);

    ViewData["Title"] = title;
}

    <h1>@(Model.ParentGroup?.Name ?? title )</h1>

    <p>
        <a asp-page="Create" asp-route-parentGroupId="@Model.ParentGroupId">Создать группу</a> 
        @if (Model.ParentGroup != null)
        {
            <span> |
            <a asp-page="../Labors/Create" asp-route-laborGroupId="@Model.ParentGroupId">Создать работу</a>
            </span>
        }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LaborGroups[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborGroups[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ParentGroup != null)
        {
            <tr>
                <td>
                    @(Model.ParentGroup?.Code ?? "000")
                </td>
                <td>
                    <a asp-page="./Index" asp-route-parentgroupid="@Model.ParentGroup?.ParentGroupId">\..</a>
                </td>
            </tr>
        }

        @foreach (var item in Model.LaborGroups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    <a asp-page="./Index" asp-route-parentgroupid="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Открыть</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }


        @if (Model.ParentGroup != null)
        {
            foreach (LaborVolumeCalculator.Models.Dictionary.Labor item in Model.ParentGroup.Labors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="../Labors/Edit" asp-route-id="@item.ID">Изменить</a> |
                        <a asp-page="../Labors/Details" asp-route-id="@item.ID">Открыть</a> |
                        <a asp-page="../Labors/Delete" asp-route-id="@item.ID">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
