@page
@model LaborVolumeCalculator.Pages.NirInnovationRates.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<div>
    <h4>Коэффициэнт новизны НИР</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NirInnovationRate.Nir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NirInnovationRate.Nir.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NirInnovationRate.NirInnovationProperty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NirInnovationRate.NirInnovationProperty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NirInnovationRate.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NirInnovationRate.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NirInnovationRate.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NirInnovationRate.CreateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-nirID="@Model.NirInnovationRate.NirID" asp-route-NirInnovationPropertyID="@Model.NirInnovationRate.NirInnovationPropertyID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
