@page
@model LaborVolumeCalculator.Pages.NirInnovationRates.IndexModel

@{
    ViewData["Title"] = "Коэффициэнты новизны НИР";
}

<h1>Коэффициэнты новизны НИР</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NirInnovationRate[0].NirScale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NirInnovationRate[0].NirInnovationProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NirInnovationRate[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NirInnovationRate[0].CreateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NirInnovationRate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NirScale.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NirInnovationProperty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-nirID="@item.NirScaleID" asp-route-NirInnovationPropertyID="@item.NirInnovationPropertyID">Изменить</a> |
                <a asp-page="./Details" asp-route-nirID="@item.NirScaleID" asp-route-NirInnovationPropertyID="@item.NirInnovationPropertyID">Открыть</a> |
                <a asp-page="./Delete" asp-route-nirID="@item.NirScaleID" asp-route-NirInnovationPropertyID="@item.NirInnovationPropertyID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
