@page
@model LaborVolumeCalculator.Pages.NiokrStages.IndexModel

@{
    string title = Html.DisplayGroupNameFor(model => model.NiokrStages[0]);

    ViewData["Title"] = title;
}

<h1>@title</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NiokrStages[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NiokrStages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Открыть</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
